*{
    margin: 0px;
    padding: 0px;
}

body{
   background-color: white;
   box-sizing: border-box;
   font-family: 'Shippori Mincho B1', serif;
   background-color: black;
   background-image: url(https://pa1.narvii.com/6705/507dc25f063cecb689cb172caf0b235d107932d2_hq.gif);
}

.mainBox{
    margin: auto;
    padding-top: 10px;     
    border-width: 2px;
    background-color:transparent;
}

.image{
    display: block;
    margin: auto;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
}

.mainPhoto{
    float: left;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-image: url('../gifs/enLlamas.gif');
    
}

.nameBox{
    float: left;
    width: 100%;
    background-image: url('../gifs/relampagos.gif');
    background-repeat: no-repeat;
    
}

.nombre{
    float: left;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    text-align: center;
    background-image: url('../gifs/chispas.gif');
    background-repeat: no-repeat;
    background-size: 450px;
    color: rgb(238, 212, 67);
}

.snBox{
    float: left;
    width: 100%; 
    margin-top: 5px;
    text-align: center;
    background-image: url('../gifs/chispas.gif');
    background-repeat: no-repeat;  
}

.titulo{
    float: left;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(236, 235, 160);
}

.descripcion{
    color: blanchedalmond;
    text-align: center;
    padding-top: 10px;
    padding-left: 3.33%;
    padding-bottom: 10px;
    padding-right: 3.33%;
}

.socialNetwork{
    text-align: center;
    float: left;
    width:  100%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    font-weight: 0;
    color: black;
    background-color: rgb(229, 228, 240);
}

.socialNetwork:hover{
    color: black;
    background-color: rgb(200, 198, 218);
}

@media only screen and (min-width: 768px) {
    .mainBox{
        width: 450px;
    }
    .mainPhoto{
        background-size: 450px 166px;
    }
    .descripcion{
        font-size: small;
    }
    .titulo{
        font-size: medium;
    }
    .nombre{
        font-size: medium;
    }
    .socialNetwork{
        font-size: x-large;
    }
}

@media only screen and (max-width: 767px){
    .mainBox{
        width: 300px;
    }
    .mainPhoto{
        background-size: 300px 166px;
    }
    .descripcion{
        font-size:medium;
    }
    .titulo{
        font-size:larger;
    }
    .nombre{
        font-size:larger;
    }
    .socialNetwork{
        font-size: xx-large;
    }
}
