*{
    margin: 0px;
    padding: 0px;
}

body{
   background-color: white;
   box-sizing: border-box;
   font-style: serif;
}

.mainBox{
    margin: auto;
    padding-top: 10px;
    width: 350px;    
    border-width: 2px;
    background-color:transparent;
}

.image{
    display: block;
    margin: auto;
    border-style: solid;
    border-color: rgb(46, 67, 75);
    border-radius: 50%;
}

.mainPhoto{
    float: left;
    width: 100%;
    padding-bottom: 5px;
}

.nameBox{
    float: left;
    width: 100%;
    margin-bottom: 5px;
    background-color:rgb(229, 228, 240);
}

.nombre{
    float: left;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-size: medium;
    background-color: rgb(46, 67, 75);
    color: white;
}

.snBox{
    float: left;
    width: 100%; 
    margin-bottom: 5px;
    text-align: center;
    background-color:rgb(46, 67, 75);   
}

.titulo{
    float: left;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: medium;
    color: white;
}

.descripcion{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: small;
}

.socialNetwork1{
    text-align: center;
    float: left;
    width:  100%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    font-weight: 0;
    font-size: 25px;
    color: black;
    background-color: rgb(229, 228, 240);
}

.socialNetwork1:hover{
    color: black;
    background-color: rgb(200, 198, 218);
}

.socialNetwork2{
    float: left;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    font-weight: 0;
    font-size: 25px;
    color: black;
    background-color: rgb(229, 228, 240);
}

.socialNetwork2:hover{
    color: black;
    background-color: rgb(200, 198, 218);    
}

